
#btn-post-modal{
	position: relative;
	margin-top: 100px;
}


.mycontainer{
	position:relative;
	padding-top: 50px;
	padding:left:0px;
	padding-right: 0px;
	height: 100%;
}

.mysidebar{
	background-color:#f5f5f5;
	border-right: 1px solid #eee;
	height:100%;
	padding-top: 30px;
	padding-left:0px;
	padding-right: 0px;
}

.mysidebar > ul > li{
	text-align:center;
}

#homepage{
	background-color:#428bca;
	display:inline;
	margin:0px;
	height:100%;
	color: white;
	font-family: Arial;
}
#homepage > p{
	padding-top:30px;
	padding-left:100px;
	padding-right:100px;
	padding-bottom: 50px;
	text-align:justify;
	font-size: 20px;
}
#homepage > h1{
	padding-top:50px;
	padding-left:50px;
}
#homepage > button{
	margin-left: 50px;
}
#listpage{
	margin:0px;
	padding:30px;
	display:none;
	overflow-y:auto;
}