<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Post on facebook</h4>
            </div>
            <form action="/edit/{{post.key.id()}}" method="post" id="post-form">
              <div class="modal-body">
                
                <div class="form-group">
                    <label for="exampleInputEmail1">Status: </label>
                    <textarea class="form-control" name="message" id="message" required value="{{post.message}}"></textarea>
                    <input type="hidden" name="access_token" id="access_token" value="">
                    <input type="hidden" name="userID" id="userID" value="">
                </div>
                <div class="form-group">
                  <div class='input-group date' id='datetimepicker'>
                      <input type='text' class="form-control" name="date_to_post" value="{{date}}"/>
                      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar" required></span>
                      </span>
                  </div>
                </div>
                <div class="fb-like" data-href="https://developers.facebook.com/apps/767075363357147/dashboard/" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="btn-post-now" class="btn btn-primary">Edit</button>
              </div>
            </form>
            
        </div>
      </div>
    </div>