<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
</head>

<body>
<h2>To be post:</h2>
      {% for post in posts %}

  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">As of <span id="{{post.key.id()}}">{{post.date_to_post}}</span></h3>
  </div>
  <div class="panel-body">
    {{post.message}}
  </div>
  <div class="panel-footer">
    <a role="button" id="btn-edit" class="btn btn-sm btn-info" href="/edit/{{post.key.id()}}">Edit</a>
    <a role="button" id="btn-delete" class="btn btn-sm btn-warning" data-userID = "{{post.key.id()}}" href="/delete/{{post.key.id()}}">Delete</a>
  </div>
</div>
        {% else %}
          <div>
            No posts are scheduled
          </div>
{% endfor %}
<h2>Posted:</h2>
  {% for post in posted %}
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">As of <span id="{{post.key.id()}}">{{post.date_to_post}}</span></h3>
  </div>
  <div class="panel-body">
    {{post.message}}
  </div>
  <div class="panel-footer">
    <a role="button" id="btn-delete" class="btn btn-md btn-warning" data-userID = "{{post.key.id()}}" href="/delete/{{post.key.id()}}">Delete</a>
  </div>
    {% else %}
      <div>
        No post to show
      </div>
  {% endfor %}

<script src="/static/js/vendors/moment.js"></script>
<script type="text/javascript">
  posted = [
  {% for post in posted %}
    {% if loop.last %}
      {id:"{{post.key.id()}}",date:"{{post.date_to_post}}"}
    {% else %}
      {id:"{{post.key.id()}}",date:"{{post.date_to_post}}"},
    {% endif %}
  {% endfor %}
  ];
  to_be_post = [
  {% for post in posts %}
    {% if loop.last %}
      {id:"{{post.key.id()}}",date:"{{post.date_to_post}}"}
    {% else %}
      {id:"{{post.key.id()}}",date:"{{post.date_to_post}}"},
    {% endif %}
  {% endfor %}
  ];
  for(var i=0;i<posted.length;i++){
    var date = new Date(posted[i].date);
    console.log(date);
    var formattedDate = moment(date).format('MMMM Do YYYY, h:mm:ss a');
    console.log(formattedDate);
    $("#"+posted[i].id).html(formattedDate);
  }
  for(var i=0;i<to_be_post.length;i++){
    var date = new Date(to_be_post[i].date);
    console.log(date);
    var formattedDate = moment(date).format('MMMM Do YYYY, h:mm:ss a');
    console.log(formattedDate);
    $("#"+to_be_post[i].id).html(formattedDate);
  }
</script>

</body>
</html>
